* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sandwich {
    height: 200px;
}

.sandwich-top {
    background-color: #de7a18;
    width: 500px;
    height: 50px;
    border-radius: 40px;
    overflow-y: hidden;
    transition: all 300ms;
    cursor: pointer;
}

.sandwich-bottom {
    background-color: #de7a18;
    width: 500px;
    height: 50px;
    border-radius: 40px;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 0px;
    overflow-y: hidden;
    transition: all 300ms;
}

.component div {
    width: 450px;
    height: 50px;
    text-align: center;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 40px;
}

.sandwich:hover .component {
    height: 250px;
}

.sauce {
    background-color: red;
}

.cheese {
    background-color: yellow;
}

.ham {
    background-color: brown;
}

.vegetable {
    background-color: green;
}

.onion  {
    background-color: whitesmoke;
}
