*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-first {
    position: relative;
    background-image: url('https://img.wallscloud.net/uploads/thumb/4266635600/gradient1-1024x576-MM-80.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.text-first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.black {
    position: relative;
    background-color: #000;
    height: 50vh;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.image-second {
    position: relative;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/038/987/289/small_2x/ai-generated-majestic-mountain-peak-reflects-tranquil-sunset-over-water-generated-by-ai-photo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.text-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}