* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin-top: 3rem;
    width: 100%;
}

th {
    background-color: blueviolet;
}

tr :where(td, th) {
    height: 100px;
    border: 1px solid #000;
    padding-left: 1rem;
}
/* 
@media screen and (max-width: 700px) {
    tr :where(td, th) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
} */