@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --poppins: 'Poppins';
    --blue: #02a9f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--poppins);
}

.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    padding: 1.5rem 3rem;
    transition: all 300ms;
    z-index: 1;
    animation: navbarDown 750ms;
}

@keyframes navbarDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    } 
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.logo {
    font-size: 1.75rem;
    font-weight: bold;
}

.navbar-link a {
    position: relative;
    text-decoration: none;
    color: #000;
    font-size: 1.125rem;
    font-weight: bold;
    margin-left: 2rem;
    transition: all 300ms;
}

.navbar-link-vertical {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fff;
    text-align: center;
    overflow-y: hidden;
}

.navbar-link-vertical a {
    display: block;
    position: relative;
    text-decoration: none;
    color: var(--blue);
    font-size: 1.125rem;
    font-weight: bold;
    margin-left: 2rem;
    padding: 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    transition: all 300ms
}

.navbar-link i {
    font-size: 1.75rem;
    display: none;
    cursor: pointer;
}

.navbar-link a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--blue);
    width: 0%;
    height: 3px;
    border-radius: 50px;
    transition: all 300ms;
}

.navbar-link a:hover {
    color: var(--blue) !important;
}

.navbar-link a:hover::before {
    width: 100%;
}

.image-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.profiles-container {
    position: relative;
}

.profiles {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75%;
    transform: translate(-50%, -50%);
    margin-top: 3rem;
    animation: profilesOpacity 1s;
}

@keyframes profilesOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.profiles-img {
    width: 350px;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgba(2, 169, 247, 0.733);
    border-radius: 50%;
}

.profiles-name {
    width: 800px;
    color: var(--blue);
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: 1rem 0;
}

.profiles-social {
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 50px;
    padding: 1rem;
}

.profiles-social i {
    color: #000;
    font-size: 3rem;
    border-radius: 50%;
    transition: all 300ms;
}

.profiles-social i:hover {
    color: var(--blue);
}

.about > h1 {
    text-align: center;
    margin: 2rem;
}

.about-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 2rem;
    margin-top: 2rem;
}

.about-container :where(.about-profiles-img, .about, .skill) {
    position: relative;
    width: auto;
    height: 500px;
}

.about-profiles-img {
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--blue);
    border-radius: 50%;
    margin: auto;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(2, auto);
    height: 300px;
    grid-column: 2 / 4;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.about>div {
    margin-bottom: 1rem;
}

.skill {
    grid-column: 1 / 4;
    padding: 3rem 5rem;
}

.skill span {
    font-size: 2rem;
    font-weight: bold;
}

.web-development {
    margin-top: 2rem;
}

.web-development h1 {
    margin: 1rem 0;
}

.skill-bar {
    width: 100%;
    height: 22px;
    background-color: #ccc;
    border-radius: 50px;
}

:is(.html-skill-percent, .css-skill-percent, .js-skill-percent) {
    position: relative;
    width: 0%;
    height: 22px;
    background-color: aqua;
    border-radius: 50px;
    text-align: center;
}

:is(.html-skill-percent, .css-skill-percent, .js-skill-percent)::before {
    content: '';
    position: absolute;
    right: 10%;
}

.activities h1 {
    text-align: center;
    margin: 5rem 0;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    margin: 0 2rem;
    text-align: center;
}

.activities-img img {
    width: 500px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
}

.certificate h1 {
    text-align: center;
    margin: 5rem 0;
}

.certificate-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 10px;
    margin: 0 2rem;
    text-align: center;
}

.certificate-img img {
    width: 500px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
}

.contact {
    background-color: var(--blue);
    margin-top: 10rem;
}

.contact h1 {
    text-align: center;
    margin: 2rem 0 0 0;
    padding-top: 1rem;
}

.contact-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

:is(.col-left, .col-right) {
    width: 800px;
    font-size: 2.5rem;
    margin: 0 2rem;
}

:is(.col-left, .col-right) div {
    margin: 1rem 0;
}

/* responsive */

@media screen and (max-width: 1640px) {
    .about-me div {
        font-size: 1.5rem;
    }
    .skill h1 {
        font-size: 1.5rem ;
    }
    .activities-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .certificate-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    :is(.col-left, .col-right) {
        width: 600px;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .profiles-img {
        width: 250px;
        height: 250px;
    }
    .profiles-name {
        font-size: 2rem;
    }
    .profiles-social {
        width: 300px;
    }
    .profiles-social i {
        font-size: 2rem;
    }
    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
    }
    .about-profiles-img {
        width: 250px;
        height: 250px;
    }
    .about-me {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
    :is(.col-left, .col-right) {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1060px) {
    .profiles-img {
        width: 200px;
        height: 200px;
    }
    .profiles-name {
        font-size: 1.75rem;
    }
    .profiles-social {
        width: 250px;
    }
    .profiles-social i {
        font-size: 1.75rem;
    }
    .about-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .activities-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .certificate-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    .profiles {
        width: 300px;
        height: 80%;
    }
    .profiles-img {
        width:175px;
        height: 175px;
    }
    .profiles-name {
        width: 300px;
        font-size: 1.25rem;
    }
    .profiles-social {
        width: 200px;
    }
    .profiles-social i {
        font-size: 1.5rem;
    }
    .about-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
    }
    .about-me {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        height: 300px;
        grid-column: 1 / 4;
        padding: 2rem;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .about-profiles-img {
        width: 200px;
        height: 200px;
    }
    .about-me div {
        font-size: 1rem;
    }
    .skill :is(span, h1) {
        font-size: 1rem;
    }
    .activities {
        margin-top: 7rem;
    }
    .activities-img {
        width: 450px;
        height: 300px;
        margin: auto;
    }
    .activities-img img {
        width: 380px;
        height: 220px;
    }
    .certificate-img {
        width: 450px;
        height: 300px;
        margin: auto;
    }
    .certificate-img img {
        width: 380px;
        height: 220px;
    }
}

@media screen and (max-width: 700px) {
    .navbar-link a {
        display: none;
    }
    .navbar-link i {
        display: block;
    }
    .profiles {
        width: 300px;
        height: 90%;
    }
    .profiles-img {
        width:125px;
        height: 125px;
    }
    .profiles-name {
        width: 300px;
        font-size: 1.25rem;
    }
    .profiles-social {
        width: 175px;
        padding: 0.75rem 0.5rem;
    }
    .profiles-social i {
        font-size: 1.25rem;
    }
    .about-profiles-img {
        width: 175px;
        height: 175px;
    }
    .skill :is(span, h1) {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 570px) {
    .logo {
        font-size: 1.25rem;
    }
    .profiles {
        width: 300px;
    }
    .profiles-img {
        display: none;
        top: 2rem;
    }
    .profiles-name {
        width: 300px;
        font-size: 1rem;
    }
    .profiles-social {
        width: 150px;
        padding: 0.75rem 0.5rem;
    }
    .profiles-social i {
        font-size: 1.25rem;
    }
    :is(.about, .activities, .certificate, .contact) h1 {
        font-size: 1.5rem;
    }
    .about-profiles-img {
        width: 150px;
        height: 150px;
    }
    .about-me div {
        font-size: 0.75rem;
    }
    .skill :is(span, h1) {
        font-size: 0.75rem;
    }
    :is(.col-left, .col-right) {
        font-size: 0.75rem;
    }
}